#zee {
    padding-top: 15px;
    margin: 0;
    height: 650px;
    width: 1519px;
}
#navbarNav {
    padding-left: 73%;
}
#logo {
    height: 10%;
    width: 10%;
}

.cardd {
    padding-top: 15px;
    padding-left: 10%;
}